body {
  padding: 0;
  margin: 0;
  background: #666;
}

#game {
  position: relative;
  width: 1024px;
  height: 512px;
  padding: 0;
  font-size: 14px;
  background-image: url('assets/sky.jpg');
}

#no-webgl {
  position: absolute;
  top: 0;
  left: 0;
}

#ammo {
  position: absolute;
  left: 40px;
  bottom: 5px;
  font-size: 14px;
  font-family: monospace;
  color: #ccc;
}
