body {
  padding: 0;
  margin: 0;
  background: #666;
  font-family: sans;
  color: #666;
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 1024px;
  background: black;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #804;
}
#game {
  position: relative;
  width: 1024px;
  height: 512px;
  padding: 0;
  font-size: 14px;
  background-image: url('assets/sky.jpg');
}

footer {
  text-align: center;
}

#no-webgl {
  position: absolute;
  top: 0;
  left: 0;
}

#ammo {
  position: absolute;
  left: 40px;
  bottom: 5px;
  font-size: 14px;
  font-family: monospace;
  color: #ccc;
}
